	{% extends 'main.twig' %} 

	{% block content %}
	<hr>
	<h2>About</h2>
	<!-- Post Content -->
	<p class="lead">Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat.</p>
	<p>Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat.</p>
	<p>Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat.</p>
	<p>Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat.</p>
	<p>Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat Amin Khoshzhamat.</p>

	<hr>
	{% endblock content %}