
    <!--
    ============================================   
    # MENU BAR
    ============================================ 
    -->
  
    <!--
    ============================================   
    # TOOL BAR 
    ============================================ 
    -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <a href="./"><strong>KOWSAR <small></small></strong></a>
        <md-button ng-click="vm.openSidebar()">
          <md-icon class="mdi mdi-plus-circle"></md-icon>
          New Classifieds
        </md-button>
        <md-button ng-click="showFilters = true">
          <md-icon class="mdi mdi-magnify"></md-icon>
          Filters
        </md-button>
        <span class="flex"></span>
        <md-button ui-sref="login" ng-click="vm.god()" class="md-button md-raised md-primary" ng-click=""><md-icon class="mdi mdi-logout"></md-icon>exit</md-button>
      </div>
    </md-toolbar>



    <!--
    ============================================   
    # FILTERS
    ============================================ 
    -->
    <div class="filters" layout="row" layout-align="center center" ng-show="showFilters">
      <md-input-container>
        <label>Enter Search Term</label>
        <input type="text" ng-model="classifiedsFilter">
      </md-input-container>
      <div layout="row">
        <md-select ng-model="category" placeholder="View Sort">
          <md-option value="{{ category }}" ng-repeat="category in vm.categories">{{category}}</md-option>
        </md-select>
      </div>
      <md-input-container>
        <md-button class="md-warn" ng-click="classifiedsFilter = ''; category = ''">Clear</md-button>
      </md-input-container>       
    </div>


    <!--
    ============================================   
    # STATES FOR NEW or EDIT
    ============================================ 
    -->
    <ui-view></ui-view>
    <!--
    ============================================   
    # CONTENTS - generate with AngularJS
    ============================================ 
    -->
    <md-content class="md-padding" layout="row" layout-wrap>
      <md-card ng-repeat="classified in vm.classifieds |
                          filter: classifiedsFilter | 
                          filter: category " 
                          flex="30" data-id="{{classifieds.id}}"
                          class="classified">
        <img ng-src="{{classified.image}}" alt="kowsar publishing corporation">
        <md-card-content>
          <div class="classifieds-info" ng-show="!showContact">
            <h2 layout="row" 
                layout-align="space-between none" class="md-title">
                {{ classified.title }}
                <em><md-icon class="mdi mdi-eye"></md-icon>{{ classified.views }}</em>
            </h2>
            <p>{{ classified.desc | limitTo: 150}}</p>
            <b>{{ classified.price | currency }}</b>
          </div>
          <div class="classified-contact" ng-show="showContact">
            <p><md-icon class="mdi mdi-account"></md-icon>{{classified.contact.name}}</p>
            <p><md-icon class="mdi mdi-phone"></md-icon>{{classified.contact.phone}}</p>
            <p><md-icon class="mdi mdi-email"></md-icon>{{classified.contact.email}}</p>
          </div>
          <div layout="row">
            <md-button class="md-accent" ng-click="showContact = true" ng-show="!showContact">Contact</md-button>
            <md-button ng-click="showContact = false" ng-show="showContact">Details</md-button>
            <md-button ng-click="showAdmin = true" ng-show="!showAdmin">Admin</md-button>
            <md-button ng-click="showAdmin = false" ng-show="showAdmin">Close</md-button>
          </div>
          <div class="classified-admin" ng-if="showAdmin">
            <h3>Admin</h3>
            <div layout="row">
                <md-button class="md-primary"
                           ng-click="vm.editClassified(classified)">Edit</md-button>
                <md-button class="md-warn" ng-click="vm.deleteClassified($event, classified)">Delete</md-button>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </md-content>
 